<div>
    <button mat-button color="warn" style="border: 1px solid; margin: 10px;
        border: 1px solid;
    margin: 10px;
    margin-top: 162px;
    border-radius: 59px;
    height: 115px;
    width: 115px; font-size: 36px;" *ngIf="!sosData" (click) = "registerSos()">SOS</button>
    <div>
    <button mat-button color="primary" style="border: 1px solid; margin: 10px;
        border: 1px solid;
    margin: 10px;
    margin-top: 162px;
    border-radius: 59px;
    height: 115px;
    width: 115px; font-size: 36px;" *ngIf="sosData" (click) = "deleteSos()">STOP</button>

        <!-- {{sosData}} -->
    </div>
</div>